// color variables
$primary-color: #212026;
$secondary-color: #fecb01;

$line-light-color: #a69b66;
$line-dark-color: #afafaf;

$dark-color: #2a292f;

$text-main-color: #535353;
$text-additional-color: #b1b0b6;
