@mixin font($size: 1.6rem, $weight: normal, $style: normal, $height: 2.4rem){
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $height;
}

@mixin media-laptop {
    @media (max-width: $content-width) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}