.aside__link, .list__link {
  transition: all 0.3s ease-out;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
}

html {
  font-size: 10px;
}
html body,
html h1,
html h2,
html h3,
html h4,
html p,
html a,
html figure,
html ul,
html pre,
html code {
  margin: 0;
}
html * {
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-weight: normal;
  font-style: normal;
  line-height: 2.4rem;
}

h1 {
  font-size: 6rem;
  font-weight: normal;
  font-style: normal;
  line-height: 8rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: semi-bold;
  font-style: normal;
  line-height: 3rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 30px 0;
}

.list__item {
  flex-basis: 30%;
}
.list__item_single {
  flex-basis: 100%;
}

.list__link {
  color: #212026;
}
.list__link:hover {
  color: #535353;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 90px;
  background-color: #212026;
}

.footer__logo {
  width: 150px;
  height: 50px;
}
@media (max-width: 770px) {
  .footer__logo {
    width: 105px;
    height: 35px;
  }
}

.time {
  color: #b1b0b6;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 35%;
  background-color: #212026;
}

.header__avatar {
  width: 100%;
}

.header__info {
  width: 65%;
  background-color: #fecb01;
}

.header__description {
  padding: 70px;
  text-transform: uppercase;
}

.header__name_bold {
  font-weight: bold;
}

.header__title {
  font-size: 3rem;
  font-weight: normal;
  font-style: normal;
  line-height: 3.5rem;
}

.section {
  padding-bottom: 60px;
}

.section__header {
  padding-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 4px solid #afafaf;
}

.section__text {
  padding-top: 15px;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  border: 1px solid #dee0e2;
}
@media (max-width: 1400px) {
  .wrapper {
    margin: 20px 20px;
  }
}
@media (max-width: 770px) {
  .wrapper {
    margin: 20px 20px;
    padding: 10px;
  }
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.main {
  position: relative;
  top: -60px;
  width: 65%;
  padding: 0 80px;
}

.aside {
  width: 35%;
  background-color: #212026;
  color: #b1b0b6;
}

.aside__wrapper {
  padding: 60px 0 0 60px;
}

.aside__header {
  border-color: #a69b66;
}

.aside__info {
  max-width: 300px;
  padding: 30px 0 0 30px;
}

.aside__title {
  padding-bottom: 3px;
}
.aside__title_marked {
  position: relative;
  padding: 3px 90px;
  background-color: #2a292f;
}
.aside__title_marked:before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fecb01;
}

.aside__text {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  line-height: 2.4rem;
}
.aside__text_marked {
  padding-left: 90px;
}

.aside__link {
  color: #b1b0b6;
  text-decoration: none;
}
.aside__link:hover {
  color: #fecb01;
}

.aside__contact {
  padding-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
