* {
  box-sizing: border-box;
}

body {
  width: 60%;
  margin: 20px auto;
  padding: 1.5em;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #dee0e2;
}

header,
section {
  padding-bottom: 0.3em;
  line-height: 1.5em;
  border-bottom: 1px solid #dee0e2;
}

header > img {
  order: -1;
  border-radius: 50%;
}

section a {
  text-decoration: none;
}

code {
  width: 100%;
  margin-top: -1.5em;
  padding: 1.5em;
  background: #f6f8fa;
  border: 1px solid #eaecef;
}

footer {
  padding-top: 1.5em;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align {
  flex: 1;
  margin: 0;
}

.indent {
  margin-left: 1.5em;
}
