html {
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  a,
  figure,
  ul,
  pre,
  code {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  font-size: 10px;
}

body {
  @extend %font-prime;
  @include font($size: 1.8rem, $weight: normal, $height: 2.4rem);
}

h1 {
  @include font($size: 6rem, $weight: normal, $height: 8rem);
}

h2 {
  @include font($size: 2.5rem, $weight: semi-bold, $height: 3rem);

  @include media-mobile {
    @include font($size: 2rem, $weight: semi-bold, $height: 2.5rem);
  }
}
