.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  width: $aside-width;
  background-color: $primary-color;
}

.header__avatar {
  width: 100%;
}

.header__info {
  width: $main-width;
  background-color: $secondary-color;
}

.header__description {
  padding: 70px;
  text-transform: uppercase;
}

.header__name {
  &_bold {
    font-weight: bold;
  }
}

.header__title {
  @include font($size: 3rem, $height: 3.5rem);
}
